*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, sans-serif;
  padding:20px;
  background:#f4f4f4;
}

header{
  text-align:center;
  margin-bottom:20px;
}

.container{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
}

.card{
  background:#0b3c6d;
  color:white;
  padding:40px;
  text-align:center;
  border-radius:10px;
  font-size:20px;
}

/* Tablet */
@media(max-width:768px){
  .container{
    grid-template-columns:repeat(2,1fr);
  }
}

/* Mobile */
@media(max-width:480px){
  .container{
    grid-template-columns:1fr;
  }
}